body {
    --color1: rgb(27, 27, 27);
    --color2: black;
    --color3: white;
    --color4: red;
    --color5: darkred;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color3);
    color: var(--color1);
    margin: 20px;
}
main{
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
}
label {
    display: block;
    margin: 10px;;
    
}

form, table {
    width: 40%;
    margin: 10px;
}

input {
    border: none;
    display: block;
    min-width: 75%;
    border-bottom: 2px solid var(--color1);
}
