body {
    --color1: rgb(27, 27, 27);
    --color2: black;
    --color3: white;
    --color4: red;
    --color5: darkred;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color3);
    color: var(--color1);
}

header {
    min-height: 200px;
    padding: 25px;
}
h1 {
    font-size: 36pt;
}
h3 {
    font-size: 20pt;
    font-weight: bold;
}
.nav-bar li {
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
    color: var(--color3);
    background-color:var(--color5);
    padding: 5px;
} 

.nav-bar li:hover {
    font-weight: bolder;
    color: var(--color1);
    background-color: var(--color4);
    box-shadow: 3px 3px 4px var(--color5);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-nav {
    font-weight: bolder;
    color: var(--color4);
    background-color: var(--color1);
    box-shadow: 4px 5px 5px var(--color1);
}
